/** 
    Plugin Style
**/

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/*Filtri*/

.projects-filter {
	list-style-type: none;
	margin-right: 20px;
	cursor: pointer;
	transition: 0.2s;
	color: #6d6d6d;
	font-size: 20px;
	padding: 10px 0;
}

.projects-filter li {
	padding: 5px;
	display: inline-block
}

.projects-filter li:hover, .projects-filter li.active {
	color: black;
}

.projects-filter li:hover {
	cursor: pointer;
}

/**/

/** Griglia progetti **/
#am-projects-wrap {
	margin: 50px 0;
	width: 100%;
	max-width: 100%;
}

ul.projects-filter {
	margin: 10px 0;
}

.projects-col {
	float: left;
}

.amproj-inner {
	position: relative;
    margin-bottom: 10px;
}

.amproj-thumbnail .amproj-thumbnail-img {
	width: 100%;
	transition: all 0.5s;
	object-fit: cover;
}

.amproj-content-wrap {
	position: absolute;
  	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
    transition: 0.3s;
	width: 85%;
	height: 85%;
}

.amproj-content-wrap.clickable {
	display: flex;
	align-items: center;
	justify-content: center;
}

.amproj-content-wrap.active {
	background-color: rgba(255, 255, 255, 0.8);
}

.amproj-content-wrap.active a {
	opacity: 1;
}

.amproj-content-wrap span {
	opacity: 0;
	color: #000;
}

.amproj-content-wrap.no-clickable p {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
}

.amproj-content-wrap.no-clickable span {
	margin-bottom: 10px;
}

.amproj-content-wrap.no-clickable:hover, .amproj-thumbnail:hover {
	cursor: default;
}

.amproj-content-wrap {
	cursor: pointer;
}

.amproj-content-wrap.no-clickable.spotlight-cursor:hover, .amproj-thumbnail.spotlight {
	cursor: pointer;
}

.amproj-content-wrap.active span {
	opacity: 1;
}

.amproj-title {
	height: 100%;
	text-align: center;
}

/**/

/** Spotlight **/

.amproj-wrap-spotlight {
	position: fixed;
	width: 100vw;
	height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	z-index: 99999;
	background-color: rgba(0,0,0, 0.9);
	transition: all 0.3 ease;
}

.amproj-img-spotlight {
	width: 50%;
	position: relative;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**/

/**Lazyload**/

.amproj-lazyload {
	opacity: 0;
}

.amproj-lazyload.visible {
	opacity: 1;
}

/**/

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 767px){
    .amproj-col-sm-12 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .amproj-col-md-6 {
        width: 50%;
    }
}

@media screen and (min-width: 1024px){
	.projects-col:first-child {
		padding-right: 3px;
	}

	.projects-col:not(:first-child, :last-child) {
		padding: 0 3px;
	}

	.projects-col:last-child {
		padding-left: 3px;
	}

	.amproj-col-lg-1 {
        width: 16,6%;
    }

	.amproj-col-lg-2 {
        width: 20%;
    }

	.amproj-col-lg-3 {
        width: 25%;
    }

    .amproj-col-lg-4 {
        width: 33%;
    }

	.amproj-col-lg-6 {
		width: 50%;
	}

	.amproj-col-lg-12 {
		width: 100%;
	}
}

@media screen and (min-width: 1200px){
	.amproj-col-xl-1 {
        width: 16%;
    }

	.amproj-col-xl-2 {
        width: 20%;
    }

	.amproj-col-xl-3 {
        width: 25%;
    }

    .amproj-col-xl-4 {
        width: 33%;
    }

	.amproj-col-xl-6 {
		width: 50%;
	}

	.amproj-col-xl-12 {
		width: 100%;
	}
}
