/** 
    Plugin Style
**/

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/*Filtri*/

.projects-filter {
	list-style-type: none;
	margin-right: 20px;
	cursor: pointer;
	transition: 0.2s;
	color: #6d6d6d;
	font-size: 20px;
	padding: 10px 0;
}

.projects-filter li {
	padding: 5px;
	display: inline-block
}

.projects-filter li:hover, .projects-filter li.active {
	color: black;
}

.projects-filter li:hover {
	cursor: pointer;
}

/**/

/** Griglia progetti **/
#am-projects-wrap {
	margin: 50px 0;
	width: 100%;
	max-width: 100%;
}

ul.projects-filter {
	margin: 10px 0;
}

.projects-col.n-col-1 {
	padding: 0 10px 0 0;
}

.projects-col.n-col-3 {
	padding: 0 0 0 10px;
}

.projects-col.n-col-2 {
	padding: 0 10px;
}

.amproj-inner {
	position: relative;
    margin-bottom: 10px;
}

.amproj-thumbnail .amproj-thumbnail-img {
	width: 100%;
	transition: 0.5s;
	object-fit: cover;
}

.amproj-content-wrap {
	position: absolute;
  	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
    transition: 0.3s;
	width: 85%;
	height: 85%;
}

.amproj-content-wrap.clickable {
	display: flex;
	align-items: center;
	justify-content: center;
}

.amproj-content-wrap.active {
	background-color: rgba(255, 255, 255, 0.8);
}

.amproj-content-wrap.active a {
	opacity: 1;
}

.amproj-content-wrap span {
	opacity: 0;
	color: #000;
}

.amproj-content-wrap.no-clickable p {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
}

.amproj-content-wrap.no-clickable span {
	margin-bottom: 10px;
}

.amproj-content-wrap.no-clickable span:hover {
	cursor: default;
}

.amproj-content-wrap.active span {
	opacity: 1;
}

.amproj-title {
	height: 100%;
	text-align: center;
}

/**/

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 767px){
    .amproj-col-sm-12 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .amproj-col-md-6 {
		float: left;
        width: 50%;
    }
}

@media screen and (min-width: 1024px){
    .amproj-col-lg-4 {
		float: left;
        width: 33%;
    }
}

@media screen and (min-width: 1200px){
    .amproj-col-lg-4 {
		float: left;
        width: 33%;
    }
}
