.amprojects-admin-menu {
    display: flex;
    flex-direction: column;
}

.amprojects-label {
    margin-top: 25px;
}

.amprojects-input {
    display: inline-block;
    margin-top: 10px;
    width: 10%;
}